body {
  background: none repeat scroll 0 0 #CCCCCC;
  color: #333333;
  font-family: sans-serif;
}

div.left-site {
  width: 57%;
  padding: 0 0px;
  float:left;
  text-align: left;
}

div.right-site {
  width: 42%;
  padding: 0 0px;
  float:right;
  text-align: left;
  margin-top: 50px;
} 

div.new-item {
  margin: 5px;
  padding: 0;
}

div.item-header {
  background: none repeat scroll 0 0 #202020;
  border: 1px solid #BBCCDD;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 1.5em;
  padding: 0.65em;
  color: #fff;
}

div.item-header a {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  float: right;
  margin-top: 0px;
}

div.item-header a:hover {
  color: #FFFFFF;
}

div.item-content table.sourcetable pre {
  color: #FFFFFF;
}

div.error-404 {
  font-size: 40px;
  text-align:center;
}

div.error-404 a {
  color: #333333;
}
